.new-connections-container{
    width: 80vw;
    height: 90vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: auto;
    margin-left: 20%;
    margin-top: 30px;
    margin-right: 80px;
    padding-top: 30px;

}
.search-container{
   
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;

}
.search-icon{
    color: black;
    font-size: 20px;
}

.search-input{
    border: 0px;
    height: 40px;
    width: 70%;
    outline: none;
    margin-left: -60px;
}
.list-of-new-connections{ 
    /* border: 1px solid black ; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    width: 75%;
   
}
.each-new-connection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;

}
.new-connection-profile{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.new-connection-details-container{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 10px;
    height: 40px;
    margin-left: -60px;
    width: 100px;
}
.new-connection-name{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    height: 10px;
    margin-bottom: 4px;
}
.new-connection-role{
    margin-left: 20px;
    margin-bottom: -10px;
    width:90%

}

.new-connection-connection-button{
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 40%;
    cursor: pointer;
}
.new-connection-connection-button:hover{
    background-color: green;
}